
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="app">
    <nav class=" navbar nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Shop</a>
            @* <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><a class="navbar-brand" href="#">Shop</a>
        </div> *@
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link" ui-sref="category">Categories</a></li>
                    <li><a class="nav-link" ui-sref="product">Products</a></li>
                    <li><a class="nav-link" ui-sref="customer">Customers</a></li>
                    <li><a class="nav-link" ui-sref="order">Orders</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
</body>
</html>
